/* Hide the default number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container-fluid {
    width: 100%;
    max-width: 1300px; /* Set the maximum width */
    margin: 0 auto; /* Center the container */
}

/* Add hover effect on card */
.card.clickable-card {
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.card.clickable-card:hover {
    background-color: #cce5ff  ; /* Light gray background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
}

.suggestions-container {
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    width: 300px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.menu-item-price{
    color: #3895f1;
}
