{% extends "core/base.html" %}
{% load static %}

{% block title %}Orbital Bite{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <!-- Categories -->            
            <section class="col-md-2 mt-4 d-lg-block d-none order-1">
                {% for category in categories %}
                <div class="list-group" id="categories">
                    <a href="#{{ category.name }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
                </div>
                {% endfor %}
            </section>
            
            <!-- Menu  -->
            <section class="col mt-4 order-2 order-sm-1">               
                {% for category in categories %}
                <div class="category" id="{{ category.name }}">
                    <hr>
                    <div class="fs-4 fw-bold py-1">{{ category.name }}</div>
                    {% for item in category.items.all %}
                    <div class="card clickable-card rounded-0" 
                        data-item-id="{{ item.id }}"
                        data-bs-toggle="modal" 
                        data-bs-target="#add-to-cart-modal-{{ item.id }}"
                        data-item-name="{{ item.name }}" 
                        data-item-description="{{ item.description }}">
                        <div class="card-body">
                            <div class="fs-5 fw-bold">{{ item.name }}</div>
                            <p class="m-0">{{ item.description }}</p>
                            <p class="fw-bold menu-item-price m-0 mt-2">£ {{ item.price }}</p>
                            <img src="{{ item.photo.url }}" alt="{{ item.name }} Image" class="img-fluid rounded d-none">
                        </div>                        
                    </div>
            
                    <!-- Modal -->
                    <div class="d-flex align-items-center">
                        <div class="modal fade w-100" id="add-to-cart-modal-{{ item.id }}" tabindex="-1" aria-labelledby="add-to-cart-modal-label-{{ item.id }}" aria-hidden="true"> <!-- Unique modal ID -->
                            <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title fs-3 fw-bold" id="modal-item-name">{{ item.name }}</div>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ item.description }}</p>        
                                        <!-- Options -->
                                        {% if item.option_set.all %}
                                            {% for option in item.option_set.all %}
                                            <div class="form-group mt-3">
                                                <div class="form-label fw-bold fs-6">{{ option.option_name }}</div>
                                                {% for detail in option.optiondetail_set.all %}
                                                {% csrf_token %}
                                                <div class="form-check">
                                                    <input type="{{ option.option_type }}" 
                                                        id="option-{{ detail.id }}" 
                                                        name="option-{{ option.id }}" 
                                                        class="form-check-input" 
                                                        value="{{ detail.id }}" 
                                                        data-price="{{ detail.price|default_if_none:0 }}">
                                                    <label for="option-{{ detail.id }}" class="form-check-label">
                                                        {{ detail.optionDetail_name }}
                                                        {% if detail.price > 0 %}
                                                            (+ £{{ detail.price }})
                                                        {% endif %}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                                <!-- Warning message placeholder -->
                                                <div class="warning-message text-danger mt-1" id="warning-{{ option.id }}" style="display: none;">
                                                    Please select an option
                                                </div>
                                            </div>
                                            {% endfor %}
                                        {% else %}
                                            <p class="text-muted">There is no option to select.</p>
                                        {% endif %}
                                    </div>                           
                                    <div class="modal-footer bg bg-light">
                                        <div class="row w-100 d-flex justify-content-between">
                                            <!-- Input Group on the Left -->
                                            <div class="col-5 col-md-4" >
                                                <div class="input-group">
                                                    <button type="button" class="input-group-text btn btn-outline-secondary btn decrement-btn" data-item-id="{{ item.id }}">
                                                        <i class="bi bi-dash"></i>
                                                    </button>
                                                    <input type="number" name="quantity" class="form-control form-control text-center quantity-input" value="1" id="quantity-input-{{ item.id }}" min="1" disabled>
                                                    <button type="button" class="input-group-text btn btn-outline-secondary btn increment-btn" data-item-id="{{ item.id }}">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- Add to Cart Button on the Right -->
                                            <div class="col-7 col-md-8 d-flex justify-content-end">
                                                <button type="button" class="btn btn-primary d-flex align-items-center justify-content-between w-100" id="add-to-cart-btn" data-item-id="{{ item.id }}">
                                                    <div class="d-flex align-items-center">
                                                        Add<span class="d-none d-sm-inline">&nbsp;<span class="dynamic-quantity" id="dynamic-quantity-{{ item.id }}">1</span> to cart</span>
                                                    </div>
                                                    <div class="badge align-middle text-bg-light ms-3 d-flex align-items-center" id="dynamic-price-{{ item.id }}"></div>
                                                </button>
                                            </div>                                
                                        </div>     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </section>            

            <!-- Delivery & Basket -->
            <section class="col-md-3 mt-4 flex-shrink-0 order-1 order-sm-2" style="min-width: 300px;">
                <section class="row">
                    <div class="btn-group w-100 py-2" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                        <label class="btn btn-outline-secondary flex-fill py-3 fs-6" for="btnradio2">Delivery</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-secondary flex-fill py-3 fs-6" for="btnradio3">Pick-up</label>
                    </div>
                    <!-- If delivery selected -->    
                    <div id="addressField" class="form-floating d-none">
                        <input type="text" class="form-control mt-3" id="floatingInput" placeholder="SG5 1EN, Apartment 1 Portmill Lane">
                        <label for="floatingInput">Enter Address</label>

                        <!-- ------------- -->

                        <form method="GET" action="#">
                            <label for="postcode">Enter Postcode:</label>
                            <input type="text" id="postcode" name="postcode" required autocomplete="off">
                        
                            <!-- Dynamic suggestions container -->
                            <div id="suggestions" class="suggestions-container"></div>
                        </form>                                                                

                        <!-- ------------- --> 

                        <div class="input-group py-1 mt-3">
                            <span class="input-group-text bg-white">
                                <img src="https://picsum.photos/20/20" alt="Logo">
                            </span>
                            <select class="form-select border-start-0" aria-label="Default select example" id="deliveryDateSelect">
                                <!-- Options will be populated by JavaScript -->
                            </select>            
                        </div>
                        <div class="input-group py-1">
                            <span class="input-group-text bg-white">
                                <img src="https://picsum.photos/20/20" alt="Logo">
                            </span>
                            <select class="form-select border-start-0" aria-label="Default select example">
                                <option selected>ASAP (15 minutes)</option>
                                <option value="1">18:30</option>
                                <option value="2">19:00</option>
                            </select>
                        </div>
                    </div>

                    <!-- If picking up from restaurant selected -->
                    <div id="pickupField" class="d-none mt-3">
                        <div class="input-group py-1">
                            <span class="input-group-text bg-white">
                                <img src="https://picsum.photos/30/30" alt="Logo" style="width: 20px; height: 20px;">
                            </span>
                            <select class="form-select border-start-0" aria-label="Default select example" id="pickupDateSelect">
                                <!-- Options will be populated by JavaScript -->
                            </select>  
                        </div>
                        <div class="input-group py-1">
                            <span class="input-group-text bg-white">
                                <img src="https://picsum.photos/30/30" alt="Logo" style="width: 20px; height: 20px;">
                            </span>
                            <select class="form-select border-start-0" aria-label="Default select example">
                                <option selected>ASAP (15 minutes)</option>
                                <option value="1">18:30</option>
                                <option value="2">19:00</option>
                            </select>
                        </div>
                    </div>
                </section>
            
                <section class="d-none d-sm-block mt-3">
                    <div class="fs-3">Basket</div>
                    <div class="card">
                        <ul class="list-group list-group-flush" id="basket-container">
                            {% for basket_item in basket_items %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-10">
                                        <span>{{ basket_item.item.name }}</span>
                                    </div>
                                    <div class="col-2 text-right">
                                        <!-- !Put a better cancel sign or trash box -->
                                        <button type="button" class="btn-close" aria-label="Close" data-item-id="{{ basket_item.id }}"></button>
                                    </div>
                                </div>                                
                                {% if basket_item.option.all %}
                                    {% for option in basket_item.option.all %}
                                        <div class="row">
                                            <div class="col-12 option-name text-muted">
                                                {{ option.optionDetail_name }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="row mt-3">
                                    <!-- Second Row: Quantity controls and Price -->
                                    <div class="col-4 col-md-6">
                                        <div class="input-group input-group-sm">
                                            <button type="button" class="input-group-text btn btn-outline-secondary btn decrement-btn" data-item-id="{{ item.id }}">
                                                <i class="bi bi-dash"></i>
                                            </button>
                                            <input type="number" name="quantity" style="max-width: 35px;" class="m-0 p-0 form-control form-control-sm text-center quantity-input" value="1" id="quantity-input-{{ item.id }}" min="1">
                                            <button type="button" class="input-group-text btn btn-outline-secondary btn increment-btn" data-item-id="{{ item.id }}">
                                                <i class="bi bi-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end align-items-center">
                                        <p class="">£ {{ basket_item.total_price|floatformat:2 }}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                        <div class="card-footer d-flex justify-content-center align-items-center">
                            <!-- ! Copy from old home -->
                            <button class="btn btn-success px-5">Checkout</button>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>    
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/quantity-controls.js' %}"></script>
    
    <script src="{% static 'js/item-modal.js' %}"></script>
    <script src="{% static 'js/delivery-pickup.js' %}"></script>
{% endblock %}