{% extends "users/user_base.html" %}

{% block title %}Interviewboost Set New Password{% endblock %}
{% block header %}Set New Password{% endblock %}

{% block form %}
{% if validlink %}
<!-- If the link is valid, show the form -->
<form method="post" class="py-2">
    {% csrf_token %}
    <div class="form-group py-1">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% for error in form.new_password1.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group py-1">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {% for error in form.new_password2.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary col-md-6 col-9 mt-3">Change Password</button>
    </div> 
</form>
{% else %}
<!-- If the link is invalid, show an error message -->
<div class="invalid-link-message py-2">
    <p class="text-center">The password reset link is invalid or has expired. Please request a new password reset link.</p>
    <div class="d-flex justify-content-center align-items-center">
        <a href="{% url 'users:password_reset' %}" class="btn btn-primary col-md-6 col-9 mt-3">Request New Link</a>
    </div>
</div>
{% endif %}
{% endblock %}
