{% extends "users/user_base.html" %}

{% block title %}Interviewboost Password Reset{% endblock %}
{% block header %}Reset Your Password{% endblock %}

{% block form %}
<form method="post" class="py-2">
    {% csrf_token %}
    <div class="form-group py-2">
        {{ form.email.label_tag }}
        {{ form.email }}
        {% for error in form.email.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary mt-3">Send Reset Link</button>
    </div> 
</form>
<div class="text-center mt-3">
    <a href="{% url 'users:login' %}" class="btn-link">Back to Login Page</a>
</div>
{% endblock %}
