{% extends "base.html" %}

{% load static %}

{% block content %}
    <style>
        /* Hide the default number input arrows */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
/*
        input[type="number"] {
            -moz-appearance: textfield;  Firefox 
        }*/
    </style>    

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <!-- Categories -->            
            <div class="col-md-3 mt-4">                
                <h2>Categories</h2>
                {% for category in categories %}
                <div class="list-group" id="categories">
                    <a href="#{{ category.name }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
                </div>
                {% endfor %}
            </div>            
            <!-- Menu Items -->
            <div class="col-md-6 mt-4">
                <h2>Menu</h2>
                {% for category in categories %}
                <div class="container category" id="{{ category.name }}">
                    <hr>
                    <h4>{{ category.name }}</h4>
                    {% for item in category.items.all %}
                    <div class="card mb-3">                        
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.price }}</p>
                            <form method="post" id="add-to-cart-form-{{ item.id }}">
                                {% csrf_token %}
            
                                <input type="hidden" name="item_id" value="{{ item.id }}">
            
                                <div class="d-flex align-items-center">
                                    <div class="input-group quantity-group">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-outline-secondary decrement-btn" data-item-id="{{ item.id }}">-</button>
                                        </div>
                                        <input type="number" name="quantity" class="col-2 form-control text-center quantity-input" value="1" id="quantity-input-{{ item.id }}">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary increment-btn" data-item-id="{{ item.id }}">+</button>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary add-to-cart-btn ml-2" data-item-id="{{ item.id }}" data-option-status="{{ item.hasOption }}" data-item-name="{{ item.name }}">Add to Cart</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="options-form">
                                                        <!-- Options will be dynamically inserted here -->
                                                        <div id="options-container"></div>
                                                        <div id="option-warning" class="text-danger" style="display:none;">
                                                            Please select at least one option.
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" id="save-options-btn">Add to Cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>                        
                    </div>
                    {% endfor %}
                </div>  
                {% endfor %}              
            </div>

            <!-- Basket -->
            <div class="col-md-3 mt-4">
                <h2>Select Option</h2>

                <!-- Selection field for delivery or pickup -->                
                <!-- Selection field for delivery or pickup -->
                <div class="container p-0 m-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                                <label class="btn btn-outline-success flex-fill" for="btnradio2">Delivery</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                <label class="btn btn-outline-success flex-fill" for="btnradio3">Pick-up</label>
                            </div>
                            <!-- If delivery selected -->    
                            <div id="addressField" class="form-floating d-none">
                                <input type="text" class="form-control mt-3" id="floatingInput" placeholder="SG5 1EN, Apartment 1 Portmill Lane">
                                <label for="floatingInput">Enter Address</label>

                                <div class="input-group mb-1 mt-3">
                                    <span class="input-group-text bg-white">
                                        <img src="https://picsum.photos/30/30" alt="Logo" style="width: 20px; height: 20px;">
                                    </span>
                                    <select class="form-select border-start-0" aria-label="Default select example" id="deliveryDateSelect">
                                        <!-- Options will be populated by JavaScript -->
                                    </select>            
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text bg-white">
                                        <img src="https://picsum.photos/30/30" alt="Logo" style="width: 20px; height: 20px;">
                                    </span>
                                    <select class="form-select border-start-0" aria-label="Default select example">
                                        <option selected>ASAP (15 minutes)</option>
                                        <option value="1">18:30</option>
                                        <option value="2">19:00</option>
                                    </select>
                                </div>
                            </div>

                            <!-- If picking up from restaurant selected -->
                            <div id="pickupField" class="d-none">
                                <div class="input-group mb-1 mt-3">
                                    <span class="input-group-text bg-white">
                                        <img src="https://picsum.photos/30/30" alt="Logo" style="width: 20px; height: 20px;">
                                    </span>
                                    <select class="form-select border-start-0" aria-label="Default select example" id="pickupDateSelect">
                                        <!-- Options will be populated by JavaScript -->
                                    </select>  
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text bg-white">
                                        <img src="https://picsum.photos/30/30" alt="Logo" style="width: 20px; height: 20px;">
                                    </span>
                                    <select class="form-select border-start-0" aria-label="Default select example">
                                        <option selected>ASAP (15 minutes)</option>
                                        <option value="1">18:30</option>
                                        <option value="2">19:00</option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>

                <hr>
                <h2>Basket</h2>
                <div class="card">
                    <ul class="list-group list-group-flush" id="basket-items">
                        {% include 'basket_items.html' %}
                    </ul>

                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">Checkout</a>
                        <h5 class="card-title mt-2 ml-1">Total: <br>£ {{ checkout_price }}</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'js/quantity-controls.js' %}"></script>
    <script src="{% static 'js/add-to-cart.js' %}"></script>
    <script src="{% static 'js/delivery-pickup.js' %}"></script>
{% endblock %}
