{% extends "base.html" %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <!-- Categories -->            
            <div class="col-md-2 mt-4">                
                <h2>Categories</h2>
                {% for category in categories %}
                <div class="list-group" id="categories">
                    <a href="#{{ category.name }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
                </div>
                {% endfor %}
            </div>            
            <!-- Menu Items -->
            <div class="col-md-6 mt-4">
                <h2>Menu</h2>
                {% for category in categories %}
                <div class="container category" id="{{ category.name }}">
                    <hr>
                    <h4>{{ category.name }}</h4>
                    {% for item in category.items.all %}
                    <div class="card mb-3">                        
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.price }}</p>
                            <form method="post" id="add-to-cart-form">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                <input type="hidden" name="quantity" value="1"> <!-- Assuming you're adding one item by default -->
                                <button type="button" class="btn btn-primary add-to-cart-btn">Add to Cart</button>
                            </form>
                        </div>                        
                    </div>
                    {% endfor %}
                </div>  
                {% endfor %}              
            </div>

            <!-- Basket -->
            <div class="col-md-4 mt-4">
                <h2>Basket</h2>
                <div class="card">
                    <ul class="list-group list-group-flush" id="basket-items">
                        <!-- Basket items will be dynamically added here -->
                        {% for basket_item in basket_items %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column col-md-6">
                                <span>{{ basket_item.item.name }}</span>
                            </div>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button">-</button>
                                </div>
                                <span class="badge badge-pill mx-2" style="line-height: 2;">{{ basket_item.quantity }}</span>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">+</button>
                                </div>
                            </div>
                            <span class="badge badge-success">{{ basket_item.item.price }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">Checkout</a>
                        <h5 class="card-title mt-2 ml-1">Total: $32.00</h5>                
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
    
            addToCartButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const form = button.closest('form');
                    const itemId = form.querySelector('[name="item_id"]').value;
                    const quantity = form.querySelector('[name="quantity"]').value; // Assuming you have an input field named 'quantity' in your form
                    addToCart(itemId, quantity);
                });
            });
    
            function addToCart(itemId, quantity) {
                const formData = new FormData();
                formData.append('item_id', itemId);
                formData.append('quantity', quantity);
    
                fetch('{% url "add_to_basket" %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: formData,
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to add item to cart');
                    }
                })
                .then(data => {
                    // Update the UI to reflect the changes in the basket
                    console.log(data);
                })
                .catch(error => {
                    console.error(error);
                });
            }
            
        });
    </script>
{% endblock %}
